/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f0f0f0;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100%;
}

.container {
  background: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 400px;
}

h2 {
  color: #1a237e;
  margin: 10px;
}

h2 span {
  text-decoration: 4px solid underline;
  text-underline-offset: 10px;
}
.password-box {
  margin: 20px 10px;
  position: relative;
}
#password {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 3px solid #2600ff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}
#password::placeholder {
  font-weight: 400;
}
.password-box span {
  position: absolute;
  top: 25%;
  right: 5%;
  font-size: 28px;
  color: #1a237e;
}
.length-box {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.length-box p,
.length-box span {
  color: #1a237e;
  font-weight: 600;
}
#slider {
  appearance: none;
  background-color: #2600ff;
  width: 100%;
  height: 5px;
  margin: 10px;
  border-radius: 10px;
}
#slider::-webkit-slider-thumb {
  appearance: none;
  background-color: #4400ff;
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
  border-radius: 50%;
  outline: 2px solid #4400ff;
}
.row {
  margin: 15px 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px rgba(107, 107, 107, 0.4);
  padding: 10px;
  border-radius: 5px;
}
.include-label {
  font-weight: 600;
  margin-inline: 3px;
}
.checkbox {
  color: #1a237e;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  background-color: #1a237e;
  color: #fff;
  font-size: 18px;
  outline: 0;
  margin: 20px 10px;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 400px) {
  .container {
    max-width: 100%;
  }
}
